@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.active {
    color: theme("colors.blue.600");
    border-color: theme("colors.blue.600");
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 0.25rem 0.25rem 0 0;
}
